Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-JWT-Extended==4.5.3
python-socketio==5.8.0
Flask-Session==0.5.0
Flask-WTF==1.1.1
WTForms==3.0.1
Werkzeug==2.3.7
APScheduler==3.10.4
watchdog==3.0.0
eventlet==0.33.3
gunicorn==21.2.0
reportlab==4.0.7
python-barcode==0.15.1
qrcode==7.4.2
africastalking==1.2.4
Pillow==10.0.1
requests==2.31.0